body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

.myNav {
  width: 445px;
  height: 80px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  
} */

.article-1 {
  display: flex;
  flex-direction: column;
}

  .easy-bank {
    display: flex;
    margin-top: 10px;
  }

  .card {
    background-color: hsl(233, 8%, 62%);
    border-radius: 0%;
    border-color: hsl(233, 8%, 62%); ;
    padding-left: 50px;
    padding-left: 50x;
    margin-top: 100px;

  }

  .svg {
    padding-left: 0px;
  }

  .svg-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    font-size: xx-large;
  }

  .text-heading {
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
  }

  .text {
    text-align: left;
  }


  /* Testimony */

  .testimony {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 244, 244);
    padding-bottom: 200px;
  
  
  }
/* image */  
  .img-card {
    background-color: white;
    margin: 10px;
    margin-top: 150px;
    
  }
  
  .testimony-img {
    height: 200px;
    width: 261px;
    border-radius: 12px;
    margin-top: 60px;
    object-fit: cover;
    margin-top: 0px;
  }
  
  /* testimony text */
  
  .testimony-text {
    padding-left: 10px;
    font-weight: 1px;
    color: red;
  }

  .text-overlay {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
  }


  @media screen and (max-width: 414px) {
    .easy-bank {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
    }

    .card {
      background-color: hsl(233, 8%, 62%);
      border-color: hsl(233, 8%, 62%); ;
      border-radius: 0%;
      padding-left: 50px;
      padding-left: 50x;
      margin-top: 50px;
      
  
    }


    .heading {
        text-align: left;
        font-size: 18px;
        font-weight: bolder;
        margin-left: 10px;
        margin-top: 20px;
    
    }

    .heading-text {
      display: block;
    
    }
    

    .text-heading {
      text-align: center;
      font-size: 18px;
      margin-left: 115px;
      font-weight: bolder;
    }

    .text {
      text-align: center;
    }

    .svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      font-size: xx-large;
    }

    /* testimonial */

    .testimony {
      display: flex;
      flex-direction: column;
      background-color: rgb(245, 244, 244);;
    }



    .img-card {
      background-color: white;
      margin: 25px;
      margin-top: 50px;
      
    }
    
    .testimony-img {
      height: 200px;
      width: 340px;
      border-radius: 5px;
      object-fit: cover;
      margin-top: 0px;
    }
    
    
    .testimony-text {
      flex: 1;
      margin-left: 5px;
    }

    .text-overlay {
      position: absolute;
      padding-left: 20px;
      padding-top: 10px;
    }

  }

  .easy-bank {
    background-color: hsl(233, 8%, 62%);
  }


.svg {
  max-width: 100%;
  max-height: 100%;
}


.heading {
    text-align: center;
    font-size: 18px;
    margin-left: 115px;
    font-weight: bolder;
    margin-left: 10px;


}







