    
@media screen and (max-width: 1440px) {
    .easy-bank {
        display: flex;
    }
    
    
    .card {
        margin: 5px;
        padding: 10px;
        



    }
    
    .svg {
        padding-left: 20px;
        
    }
    
    .text-heading {
    text-align: left;
        margin-left: 0%;
    
    }
    
}


@media screen and (max-width: 414px) { 
    .easy-bank {
        display: flex;
        flex-direction: column;
    }
    
    
    .card {
        margin: 5px;
        padding: 1px;

    }
    
    .svg {
        margin-left: 50%;
        
    }
    
    .text-heading {
        text-align: center;
    
    }
   
    
    
    
}



easy-bank {
    background-color: hsl(233, 8%, 62%);
    
}










