/* Basic Styles */
body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

p {
  color: hsl(0, 0%, 60%);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(6, 16.6%);
  border: 1px solid dodgerblue;
  margin: 0;
  width: 1440px;
}

.btn {
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  font-size: 10px;
}

.easybank-card {
  height: 250px;
  display: flex;
  width: 1000px;
  margin: 20px;
  width: 85%;
  margin-left: 50px;

}


.easybank {
  background-color: hsl(220, 16%, 96%);
  grid-column: 1 / 5;
  width: 85%;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 50px;
  padding-bottom: 1px;

}

.easybank-svg {
  width: 40px;
  margin-bottom: 10px;
}

/* Article */

.nextgen {
  position: relative;
  /* display: grid;
  grid-template-columns: auto 50%; */
  border: 1px solid tomato;
  grid-column: 1 / 5;
}

.nextgen__content {
  /* margin: 50px; */
}

.nextgen__image {
  position: relative;
  width: 50%;
  top: 50%;
  left: -10%;
  display: block;
  z-index: -2;
}

.nextgen__mockup {
  position: absolute;
  width: 50%;
  left: 60%;
  top: -11%;
  z-index: -1;
  display: block;
}

.article-flex {
  margin: 20px 0;
  display: flex;

}

.latest-article {
  width: 85%;
  height: 450px;
  padding-left: 50px;
  background-color: hsl(0, 0%, 98%);
  margin-left: 50px;
}

.article-image__wrapper {
  height: 310px;
  width: 190px;
  margin-right: 15px;
  background-color: hsl(0, 0%, 100%);

}

.article-image__caption {
  width: 188px;
  font-size: 10px;
  padding-right: 10px;
  margin-left: 10px;


}

.testimony-image__caption {
  width: 142px;
  font-size: 12px;
  padding-right: 20px;
  margin-left: 10px;
  margin-top: -10px;

}

.testimony__name {
  font-size: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

/* Collapsibles */

.collapsible {
  margin-bottom: 0;
  grid-column: 1 / 5;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  border: 1px solid tomato;
  background-color: white;
  width: 100%;
}

.collapsible__hamburger {
  display: none;
}

.collapsible__close {
  display: none;
}

.collapsible__block {
  max-height: 0;
  overflow: hidden;
}

.collapsible__bg-mobile {
  display: none;
}

.collapsible__image {
  display: none;
}

.article-eazybank {
  width: 190px;
  margin-right: 15px;
}
.easy-bank {
  display: flex;
  margin-top: 10px;
}

/* List */
.list {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  margin-right: 10px;
}

/* Links */
.list__item a {
  text-decoration: none;
  color: #999;
}

.list__item a:hover {
  color: #000;
}

/* Typography */


.header-caption {
  font-size: 12px;
  margin-left: 50px;
  width: 414px;
  margin-left: 50px;
}

.svg-caption {
  font-size: 12px;
  width: 188px;
  padding-right: 20px;

}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  margin-left: 50px;
}


.article-header {
  font-size: 22px;
  padding-top: 20px;
  white-space: nowrap;
  margin-left: 1px;
}

h3 {
  font-size: 15px;

}

.list {
  font-size: 13px;
}

.easybank-text {
  font-size: 13px;
}

.card {
  background-color: hsl(233, 8%, 62%);
  border-color: hsl(233, 8%, 62%);
  border-radius: 0%;
  margin-top: 130px;
  padding-left: 50px;
  padding-left: 50x;
}

.svg {
  padding-left: 0px;
}

.svg-container {
  align-items: center;
  display: flex;
  font-size: xx-large;
  justify-content: left;
  margin-bottom: 20px;
}

.text-heading {
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
}

.text {
  text-align: left;
}

/* Testimony */

.testimony {
  background-color: rgb(245, 244, 244);
  display: flex;
  flex-direction: row;
  padding-bottom: 200px;
}

/* image */
.img-card {
  background-color: white;
  margin: 10px;
  margin-top: 150px;
}

.testimony-img {
  height: 150px;
  margin-top: 0px;
  object-fit: cover;
  width: 190px;
  margin-right: 1px;

}

/* testimony text */

.testimony-text {
  color: red;
  font-weight: 1px;
  padding-left: 10px;
}

.text-overlay {
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
}













@media screen and (max-width: 375px) {
  /* Basic Style */

  p {
    color: hsl(0, 0%, 60%);
    font-size: 15px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  width: 200px;
  margin-top: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 1px solid dodgerblue;
    margin: 0;
    width: 375px;
  }

  .btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    color: white;
    background: linear-gradient(
      to left,
      hsl(192, 70%, 51%),
      hsl(136, 65%, 51%)
    );
  }

  /* .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .nextgen {
    display: flex;
    text-align: center;
    border: 1px solid tomato;
    padding: 20px;
    margin: 0;
  }

  .nextgen__mockup {
    display: none;
  }

  .easybank {
    text-align: center;
    width: 375px;
    height: 900px;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 1px;
    margin-left: 1px;
  }

  .easybank-card {
    display: flex;
    flex-direction: column;
    width: 306px;
    margin-left: 0px;
  }

  /*.easybank-svg {
    width: 40px;
    margin-bottom: 10px;
    color: red;
  } */

  /* Collapsibles */

  .collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    border: 1px solid dodgerblue;
  }

  .collapsible__logo,
  .collapsible__close,
  .collapsible__hamburger {
    height: 20px;
  }

  .collapsible__inline {
    display: none;
  }

  .collapsible__hamburger {
    display: block;
    width: 25px;
  }

  .collapsible__close {
    display: none;
  }

  .collapsible__block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 100px 250px hsla(0, 0%, 0%, 0.5);
    left: 10%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 100px;
    left: 8.8%;
    transition: all 0.3s;
    width: 309px;
  }

  .collapsible__bg-mobile {
    width: 100%;
    position: relative;
    height: 300px;
    z-index: -2;
    display: block;
  }

  .nextgen__image {
    display: none;
  }

  .collapsible__image {
    position: absolute;
    top: -35px;
    width: 329px;
    display: block;
    left: 6.1%;
    z-index: -1;
  }

  .collapsible--expanded .collapsible__hamburger {
    display: none;
  }

  .collapsible--expanded .collapsible__close {
    display: block;
  }

  .collapsible--expanded .collapsible__block {
    max-height: 100vh;
    opacity: 1;
  }

  .collapsible--expanded .collapsible__image {
    display: none;
  }

  /* List */
  .list {
    list-style: none;
    padding-left: 0;
    margin: 20px;
    font-size: 18px;
  }

  .list .list__item {
    list-style: none;
    margin-bottom: 20px;
  }

  /* Links */
  .list__item a {
    text-decoration: none;
    color: #000;
  }

  .list__item a:hover {
    text-decoration: underline;
  }

  /* Typography */
  .collapsible__content {
    font-size: 180px;
  }

  .card {
    background-color: hsl(233, 8%, 62%);
    border-color: hsl(233, 8%, 62%);
    border-radius: 0%;
    padding-left: 100px;
    padding-left: 50x;
    margin-top: 50px;
  }

  .heading {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
  }

  .heading-text {
    display: block;
  }

  .text-heading {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 115px;
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .text-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    margin-top: 50px;
    padding-bottom: 100px;
  }

  .svg-container {
    align-items: center;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 20px;
  }

  /* Testimonial */

  .testimony {
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
  }

  .img-card {
    background-color: white;
    margin: 25px;
    margin-top: 50px;
  }

  .testimony-img {
    border-radius: 5px;
    height: 200px;
    margin-top: 0px;
    object-fit: cover;
    width: 340px;
  }

  .testimony-text {
    flex: 1;
    margin-left: 5px;
  }

  .text-overlay {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
  }

  .header-caption {
    font-size: 15px;
    width: 355px;
    margin-left: 0px;

  }


  .article-eazybank {
    width: 190px;
    margin-right: 1500px;
    color: red;
  }

  .svg-caption {
    font-size: 15px;
    width: 355px;
    margin-left: 0px;
  
  }

  .easybank-svg {
    width: 70px;
    margin-bottom: 10px;
    margin-left: 50%;
  }
  
}

.easy-bank {
  background-color: hsl(233, 8%, 62%);

  
}

.svg {
  max-width: 100%;
  max-height: 100%;
}

.heading {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 115px;
  text-align: center;
}

.text-overlay {
  position: absolute;
  padding-left: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
}


